.categorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem 5rem;
  background-color: var(--neutral-color-100);
}

.categorySectionTitle {
  font-size: 1.75rem;
  font-weight: var(--bold);
  color: var(--neutral-color-900);
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
  list-style: none;
}

@media (max-width: 768px) {
  .categorySection {
    padding: 2.5rem 1.25rem;
  }

  .categoryGrid {
    grid-template-columns: 1fr;
  }
}
